<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="client.js"></script>

</head>
<body>

    <div>
      <h2>
        <form action='/' method='POST'>
            <input type="hidden" name="action" value="logOut">

            <%= firstName %> <%= lastName %> 
            <button type="submit" class="logOutButton">Log Out</button>
        </form>
      </h2>
    </div>
      
    <div>
      <table style="width:100%; max-width: 1000px">
        <tr>
          <th>Entry Number</th>
          <th>Description</th> 
          <th>Cost</th>
          <th>Date</th>
        </tr>
        <% data = JSON.parse(journalData); %>
        <% for (var i = 0; i < data.length; i++) { %>
          <tr>
            <td><%= data[i].entry_number %></td>
            <td><%= data[i].description %></td>
            <td><%= data[i].cost %></td>
            <td><%= data[i].date %></td>
          </tr>    
        <% } %>
      </table>
    </div>
  
    <div style="display: table; margin-left: auto; margin-right:auto; width: 100%; max-width: 1000px">
      <br>
      <br>
      <button type="button" class="newExpenseButton" onclick="document.getElementById(
        'newExpense').style.display = 'block'">Enter a New Expense!</button>
  
      <button type="button" class="editExpenseButton" onclick="document.getElementById(
         'editExpense').style.display = 'block'">Edit An Entry!</button>
  
      <button type="button" class="deleteExpenseButton" onclick="document.getElementById(
        'deleteExpense').style.display = 'block'">Delete An Entry!</button> 
    </div>
  
    <form action='/home' method='POST' id="newExpense" class="modal" style="display: none" onsubmit="return checkNewExpense(this)">
      <input type="hidden" name="action" value="create">
      <div class="modal-content">
          <span class="closeButton" onclick="document.getElementById('newExpense').style.display = 'none';">
              &times;
          </span>
  
          <h1>
            Log Your Expense:
          </h1>
  
          <p style="font-size: 1em; margin-left: 25px">
            (You Can Also Enter Your Income Here By Entering a Negative Cost)
          </p>
  
          <p style="margin-left: 25px; font-weight: bold">
              What'd You Buy? (maximum of 250 characters)
          </p>
          <input type="description" name="description" placeholder="a whole bunch of stuff" required>
  
          <p style="margin-left: 25px; font-weight: bold">
              How Much Was It?
          </p>
          $<input type="cost" name="cost" placeholder="100000000000" required>
  
          <p style="margin-left: 25px; font-weight: bold">
              When'd You Buy It? (maximum of 45 characters)
          </p>
          <input type="date" name="date" placeholder="tomorrow" required>
  
          <p style="margin-left: auto; margin-right: auto; text-align: center; font-size: 1em">
            <br>
            <button type="submit" class="submitNewExpenseButton">Log this Expense</button>
          </p>
  
      </div>
    </form>
  
  
    <form action='/home' method='POST' id="editExpense" class="modal" style="display: none" onsubmit="return checkEdittedExpense(this)">
      <input type="hidden" name="action" value="edit">
      <div class="modal-content">
          <span class="closeButton" onclick="document.getElementById('editExpense').style.display = 'none';">
              &times;
          </span>
  
          <h1>
            Edit Your Entry:
          </h1>
  
          <p style="margin-left: 25px; font-weight: bold">
            Please Enter the Entry Number You'd Like to Edit:
          </p>
          <input type="editEntry" name= "editEntry" placeholder="1" required>
  
          <p style="margin-left: 25px; font-weight: bold">
              What'd You Buy? (maximum of 250 characters)
          </p>
          <input type="editDescription" name="editDescription" placeholder="a whole bunch of stuff" required>
  
          <p style="margin-left: 25px; font-weight: bold">
              How Much Was It?
          </p>
          $<input type="editCost" name="editCost" placeholder="100000000000" required>
  
          <p style="margin-left: 25px; font-weight: bold">
              When'd You Buy It? (maximum of 45 characters)
          </p>
          <input type="editDate" name="editDate" placeholder="tomorrow" required>
  
          <p style="margin-left: auto; margin-right: auto; text-align: center; font-size: 1em">
            <br>
            <button type="submit" class="submitEditButton">Change This Entry!</button>
          </p>
  
      </div>
    </form>
  
    <form action='/home' method='POST' id="deleteExpense" class="modal" style="display: none" onsubmit="return checkDeletedExpense(this)">
      <input type="hidden" name="action" value="delete">
      <div class="modal-content">
          <span class="closeButton" onclick="document.getElementById('deleteExpense').style.display = 'none';">
              &times;
          </span>
  
          <h1>
            Delete An Entry:
          </h1>
  
          <p style="margin-left: 25px; font-weight: bold">
            Please Enter the Entry Number You'd Like to Delete:
          </p>
          <input type="deleteEntry" name="deleteEntry" placeholder="1" required>
  
          <p style="margin-left: auto; margin-right: auto; text-align: center; font-size: 1em">
            <br>
            <button type="submit" class="submitDeleteButton">Delete This Entry!</button>
          </p>
  
      </div>
    </form>

    <script>

      var newExpense = document.getElementById("newExpense");
      var editExpense = document.getElementById("editExpense");
      var deleteExpense = document.getElementById("deleteExpense");

      window.onclick = function(event) {
        if (event.target == newExpense) {
          newExpense.style.display = "none";
        } else if(event.target == editExpense) {
          editExpense.style.display = "none";
        } else if(event.target == deleteExpense) {
          deleteExpense.style.display = "none";
        }
      }

    </script>

</body>

</html>