html {
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background-image: url("background.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  line-height: 1.0;
  width: auto;
  font-size: 3.0em;
  font-weight: bold;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  max-width: 700px;
  font-size: 1.5em;
}

/* Style tab links */
.tabLink {
  background-color: slategray;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tabLink:hover {
  opacity: 0.5;
}

/* Style the tab content (and add height:100% for full page content) */
.tabContent {
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#loginPortal {
  border-radius: 50px;
  border: 10px solid deepskyblue;
  padding: 10px;
  max-width: 700px;
  height: 500px;
  background-color: white;
  margin-left: auto;
  margin-right:auto;
  margin-top: auto;
  margin-bottom: auto;
}


input {
  border-radius: 15px;
  width: 80%;
  padding: 15px;
  margin-left: 25px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

button[type=button] {
  color: white;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.loginButton {
  background-color: navy;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 16px 20px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.signUpButton {
  background-color: black;
  width: 25%;
  padding: 5px 15px;
  margin-inline-start: 1em;
  border-radius: 15px;
}

button:hover {
  opacity: 0.7;
}

/* The Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  background-color: black; /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation: blowUp .25s forwards;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  animation: blowUp .25s forwards;
}

@keyframes blowUp {
  0% {
    transform:scale(0);
    opacity:0;
  }
  100% {
    transform:scale(1);
    opacity:1;
  }
}

/* The Close Button */
.closeButton {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeButton:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.signUpConfirmation {
  background-color: #4CAF50;
  width: 40%;
  padding: 15px 20px;
  font-size: 3em;
  border-radius: 15px;
}

.logOutButton {
  background-color: black;
  width: 25%;
  padding: 5px 15px;
  margin-inline-start: 5em;
  border-radius: 15px;
}

.newExpenseButton {
  background-color:#4CAF50;
  width: 50%;
  padding: 10px 30px;
  display: inline-block;
}

.submitNewExpenseButton, .submitEditButton {  
  background-color: #4CAF50;
  width: 40%;
  padding: 15px 20px;
  font-size: 3em;
  border-radius: 15px;
}

.editExpenseButton {
  background-color: tomato;
  width: 50%;
  padding: 10px 30px;
  display: inline-block;
}